.container {
    display: flex;
    padding: 20px;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
}

.combobox {
    width: 250px;
    height: 50px;
    padding-left: 20px;
}

.fixed {
    width: 500px;
}

.flex-item {
    flex-grow: 1;
    padding: 10px;
}