.container {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    align-content: space-between;
}

.filter_container {
    display: flex;
    padding-right: 20px;
    flex-wrap: wrap;
    align-content: space-between;
}

.filter_caption {
    padding-left: 20px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: small;
}

.main_container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
}

.dropdown {
    width: 250px;
    height: 50px;
    padding-left: 20px;
}

.fixed {
    width: 500px;
}

.flex-item {
    flex-grow: 1;
    padding: 10px;
}

.container-fluid {
    display: flex;
    flex-wrap: wrap;
}

.chart-container {
    flex: 1 1 45%; /* Adjust the width as needed */
    margin: 10px;
}